.aboutview {
	display: table;
	width: 100%;
	height: 100vh;
	padding: 100px 0;
	text-align: center;
	color: white;
	// background: url("/img/WhistlerVillageLite.jpg") no-repeat bottom center scroll;
	// background-color: grey;
}

#aboutscene {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	// color: white;
	// max-width: 80%;
	// position: relative;
	// background-color: #7ECB61;
	// background: url("/img/NormadyBeachFrance.jpg") no-repeat bottom center scroll;
	background-image: linear-gradient( #7ECB61, #53CBB8 );
}

.flex-wrapper {
	background: #444;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.c-scene {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.c-scene__content {
	color: white;
	max-width: 80%;
	position: relative;
}

.c-scene__quote {
	font-family: 'Lora', serif;
	font-size: 40px;
	font-weight: normal;
}

.c-scene__author {
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	opacity: 0.5;
}
// Scene Colours
#scene1 {
	background-color: #7ECB61;
	background-image: linear-gradient( #7ECB61, #53CBB8 );
	// background: url("/img/NormadyBeachFrance.jpg") no-repeat bottom center scroll;
}

#scene2 {
	background-color: #D74848;
	background-image: linear-gradient( #D74848, #DB905C );
}

#scene3 {
	background-color: #7453CB;
	background-image: linear-gradient( #7453CB, #3EA7E4 );
}

#scene4 {
	background-color: #9F40A1;
	background-image: linear-gradient( #9F40A1, #E6868C );
}
